<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.cogamers.no_recommand.mapper.NoRecommandMapper">
	<insert id="insertNoRecommand" parameterType="map">
		INSERT INTO `no_recommand`
		(
			`postId`
			, `userId`
			, `createdAt`
		)
		VALUES
		(
			#{postId}
			, #{userId}
			, NOW()
		)
	</insert> 
	<select id="selectNoRecommandCountByPostId" parameterType="int" resultType="int">
		SELECT
			COUNT(1)
		FROM
			`no_recommand`
		WHERE
			`postId` = #{postId}
	</select>
	<delete id="deleteNoRecommandByPostId">
		DELETE
		FROM
			`no_recommand`
		WHERE
			`postId` = #{postId}
	</delete>
 </mapper>