@charset "UTF-8";
header {height:100px;}
.contents {min-height:1500px;}
footer {height:100px;}

.sign-up-box {width:600px;}
.sign-up-table th {background-color:#D8D8D8;}

nav {height:40px; background-color: yellowgreen;}
.nav-item .nav-link:hover {background-color: rgb(255, 255, 0);}

/* 제목 스타일 */
#subject {
    font-size: 28px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

/* 내용 스타일 */
#usersContents {
    font-size: 16px;
    color: #666;
    line-height: 1.6;
    margin-bottom: 20px;
}
